.dialog {
  background-color: rgba(0, 0, 255, 0.1);
}

.dialog-container {
  padding-bottom: 300px !important;
}

.interact-button {
  flex-grow: unset !important;
  font-size: 2rem !important;
}

.dialog-content {
  text-align: center;
}
